.checkbox-radio {
    display: flex;
    align-items: center;
    cursor: pointer;

    & input[type="checkbox"],
    & input[type="radio"] {
        display: none;

        &:checked ~ .checkbox-radio__square {
            background-color: $mainColor;
            border-color:  $mainColor;
            & img {
                opacity: 1;
            }
        }
    }

    &__square {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        width: 21px;
        height: 21px;
        margin-right: 12px;
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #b6bdaf;
        transition: all 0.3s ease;

        & img {
            transition: all 0.3s ease;
            opacity: 0;
            width: 13px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 1em;
        letter-spacing: -0.01em;
    }
}
